.MuiOutlinedInput-root {
  border-radius: 8px!important;
  font-family: 'Open Sans'!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 100%!important;
  letter-spacing: 0.25px;

  color: #CDCAD0!important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid #0086A8!important;
  color: red!important;
}

.MuiFormLabel-root {
  font-family: 'Open Sans'!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 100%!important;

  letter-spacing: 0.25px;

  color: #CDCAD0!important;
}

.MuiFormLabel-root.Mui-focused {
  color: #0086A8!important;
}

.field__half-width {
  width: 47%;
  height: 50px;
  & input {
    padding: 16px 15px;
  }
}

.field__full-width {
  width: 100%;
  margin-bottom: 25px!important;
}

.margin-off {
  margin-bottom: 0!important;
}

.MuiPaper-root {
  background: #FFFFFF;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(53, 50, 56, 0.14);
  border-radius: 8px!important;
  & li:not(:last-of-type) {
    border-bottom: 2px solid #E3E3E3;;
  }
  & li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #353238;
  }
}

#outlined-select-currency-label {
  font-family: 'Open Sans' !important;
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 14px!important;
  line-height: 100%!important;

  color: #353238!important;
}

.MuiSelect-select {
  color: #353238!important;
}
.MuiAccordion-root {
  border: none!important;
  box-shadow: none!important;
  justify-content: flex-start;
  padding-bottom: 10px!important;
  &::before {
    height: 0px!important;
  }
}

.MuiAccordionSummary-root {
  justify-content: flex-start!important;
  padding-left: 0!important;
}

.MuiAccordionSummary-content {
  justify-content: flex-start!important;
  flex-grow: unset!important;
}

.MuiAccordionSummary-content p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;

  color: #353238;
}

.MuiAccordionDetails-root {
  flex-direction: column;
  padding-left: 0!important;
  padding-right: 0!important;
}

.MuiFormHelperText-root.Mui-error {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #EB5E55;
}

.MuiCircularProgress-root {
  width: 30px!important;
  height: 30px!important;
}

.MuiCircularProgress-colorPrimary {
  color: #ffffff!important;
}
